

.parentBooking {
display: grid;
grid-template-columns: 1fr 3fr; /* Two columns: 1 part for Filter, 3 parts for BookingCard */
grid-template-rows: auto; /* Auto row height */
grid-gap: 20px;
}

.FilterBooking { grid-area: 1 / 1 / 3 / 2; }
.cardBooking {  grid-area: 1 / 2 / 5 / 5;
}
