
.img_hom{
    height: 600px;
    width: 100%;
    border-radius: 50px;
}
.parent_home {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1_home { grid-area: 1 / 2 / 3 / 7; }
    .div2_home{ grid-area: 3 / 4 / 4 / 5; }