/* Profile Container */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px; /* Adjust padding as needed */
}

/* Profile Info */
.profile-info {
  text-align: center;
  margin-bottom: 40px; /* Add space between profile and appointments */
}

.profile-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border: 4px solid #fff;
}

.profile-info h2 {
  margin-bottom: 10px;
  font-size: 32px;
  color: #001B79;
}

.profile-info p {
  margin: 10px 0;
  font-size: 20px;
  color: #363062;
}

/* Next Appointment */
.next-appointment {
  background-color: #f5f5f5; /* Lighter background color */
  padding: 20px;
  border-radius: 8px;
}

.next-appointment h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #333;
}

.next-appointment table {
  width: 500px;
  border-collapse: collapse;
  margin-top: 10px;
}

.next-appointment th,
.next-appointment td {
  padding: 12px;
  text-align: center;
}

.next-appointment th {
  background-color: #ddd;
  font-weight: bold;
}

.next-appointment td {
  background-color: #fff;
}

.next-appointment tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Alternate row background */
}
