.profile-info {
    margin-top: 40px; /* Increase top margin for spacing */
  }
  
  .profile-image img {
    max-width: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
  
  .profile-info h2 {
    margin-bottom: 15px;
    font-size: 28px;
  }
  
  .profile-info p {
    margin: 15px 0;
    font-size: 20px;
  }
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Profile container */
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    padding: 60px;
    margin-right: 40px; /* Add right margin for spacing */
  }
  
  /* Next appointment */
  .next-appointment {
    border: 2px solid #ccc;
    padding: 20px;
  }
  
  .next-appointment h2 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .next-appointment table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .next-appointment th{
    border: 1px solid transparent;
    padding: 8px;
  }
  .next-appointment td {
    border: 1px solid transparent;
    padding: 8px;
    background-color: rgb(185, 185, 185);
  }
  
  .next-appointment th {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: left;
  }
  