/* HomeAdmin.css */

.home-admin {
    font-family: Arial, sans-serif;
    padding: 5px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .chart-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    padding: 10px;
  }
  
  .chart-row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .chart-item {
    flex: 1;
    padding: 20px;
    background-color: transparent;
  }

  .chart-item.stats {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }

  
  .stats h2, .graph h2 {
    margin-top: 0;
    
  }
  
  .stats p {
    margin: 5px 0;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  